.header {
    height: rem(56px);
    margin-bottom: rem(120px);
    background-color: var(--mantine-color-body);
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
}

.inner {
    height: rem(56px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: var(--mantine-color-black);
    font-size: var(--mantine-font-size-md);
}